nav {
  height: 101px;
  display: flex;
  align-items: center;
}

.options-wrap,
.links-wrap {
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #161616;
}

.select-wrap {
  min-width: 40px;
  max-width: 40px;
  min-height: 10px;
  position: relative;

  &__options {
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 40px;
    height: 42px;
    border: 1px solid #161616;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.197);

    & div {
      cursor: pointer;
      flex: 1 1 50%;
      text-align: center;
      padding: 3px 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    & div:nth-child(1) {
      border-bottom: 1px solid #161616;
    }
  }

}