<footer>
  <div class="container columns-wrap">
    <div class="column information">
      <div class="information__header">
        <a routerLink="/">
          <img class="logo" src="/assets/images/logo.svg" alt="logo">
        </a>
        <div class="social-networks">
          <a><img src="/assets/images/twitter.svg" alt="twitter"></a>
          <a><img src="/assets/images/likedin.svg" alt="likedin"></a>
          <a><img src="/assets/images/facebook.svg" alt="facebook"></a>
        </div>
      </div>
      <div class="text information-text">
        We are one of the leading interior design and remodeling studios available for all of your residential and commercial interior design needs.
      </div>
      <div class="text">
        © 2023 id Studio. All Rights Reserved.
      </div>
    </div>
    <div class="column navigation">
      <h2>NAVIGATION</h2>
      <ul>
        <li><a class="text">About</a></li>
        <li><a class="text" routerLink="/services">Services</a></li>
        <li><a class="text" routerLink="/portfolio">Portfolio</a></li>
        <li><a class="text" routerLink="/pricing">Pricing</a></li>
        <li><a class="text">Testemonials</a></li>
      </ul>
      <div class="social-networks">
        <a><img src="/assets/images/twitter.svg" alt="twitter"></a>
        <a><img src="/assets/images/likedin.svg" alt="likedin"></a>
        <a><img src="/assets/images/facebook.svg" alt="facebook"></a>
      </div>
    </div>
    <div class="column contacts">
      <h2>CONTACTS</h2>
      <ul>
        <li>
          <div class="contacts__name">ADRESS</div>
          <div class="contacts__value">3517 W. Gray St. Utica, Pennsylvania 57867</div>
        </li>
        <li>
          <div class="contacts__name">EMAIL</div>
          <div class="contacts__value">
            <a class="text" href="mailto:michelle.rivera@idstudio.com">
              michelle.rivera@idstudio.com
            </a>
          </div>
        </li>
        <li>
          <div class="contacts__name">PHONES</div>
          <div class="contacts__value text">
            <a class="text" href="tel:+8085550111">(808) 555-0111</a> or <a class="text" href="tel:+3035550105">(303)
              555-0105</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="text text-madeBy">
      © 2023 id Studio. All Rights Reserved.
    </div>
  </div>
</footer>