* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

@import url('../src/assets/fonts/font.scss');

.text {
  font-family: 'Conv_Gilroy-Light';
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #352C2C;
  @media (max-width: 1065px) {
    font-size: 14px;
  }
}

.container {
  max-width: 81.25%;
  margin: 0 auto;
}

.active {
  color: #be9595 !important;
}

h1 {
  font-family: 'Conv_BN Chester Regular';
  font-weight: 400;
  font-size: 66px;
  line-height: 96%;
  letter-spacing: 0.01em;
  color: #3D3737;
  @media (max-width: 1400px) {
    font-size: 50px;
    @media (max-width: 1065px) {
      font-size: 40px;
    }
  }
}

.btn {
  background-color: transparent;
  padding: 12px 34px;
  border: 2px solid #D3A265;
  border-radius: 8px;

  & span {
    font-family: 'Conv_Gilroy-ExtraBold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #161616;
  }

  &:hover {
    background-color: #D3A265;

    & span {
      color: #fff;
    }
  }
}